.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-box {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333333;
    font-weight: bold;
}

.input-group {
    margin-bottom: 25px;
}

.label {
    font-size: 16px;
    color: #666666;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 18px;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #CC3733;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f14a44;
}



.alert-danger {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}